WebServiceCliente/WebServiceCliente/Connected Services/ProgressoWSDL/ProgressWSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://calculator.me.org/" targetNamespace="http://calculator.me.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getProgress" type="tns:getProgress" />
  <xs:element name="getProgressResponse" type="tns:getProgressResponse" />
  <xs:complexType name="getProgress">
    <xs:sequence>
      <xs:element minOccurs="0" name="ra" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProgressResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>