WebServiceCliente/WebServiceCliente/Connected Services/PerguntasWSDL/PerguntasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services/" targetNamespace="http://services/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getQuestao" type="tns:getQuestao" />
  <xs:element name="getQuestaoResponse" type="tns:getQuestaoResponse" />
  <xs:element name="setResposta" type="tns:setResposta" />
  <xs:element name="setRespostaResponse" type="tns:setRespostaResponse" />
  <xs:complexType name="getQuestao">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getQuestaoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:questoes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="questoes">
    <xs:sequence>
      <xs:element minOccurs="0" name="a" type="xs:string" />
      <xs:element minOccurs="0" name="b" type="xs:string" />
      <xs:element minOccurs="0" name="c" type="xs:string" />
      <xs:element minOccurs="0" name="correta" type="xs:string" />
      <xs:element minOccurs="0" name="d" type="xs:string" />
      <xs:element minOccurs="0" name="e" type="xs:string" />
      <xs:element minOccurs="0" name="enunciado" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setResposta">
    <xs:sequence>
      <xs:element minOccurs="0" name="ra" type="xs:string" />
      <xs:element minOccurs="0" name="resp" type="xs:string" />
      <xs:element name="questao" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setRespostaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>